.input-container {
    display: flex;
    flex-direction: column;
}

.adress-container {
    tr {
        display: flex;
        flex-direction: column;
    }
}

mat-form-field {
    width: 100%;
    @media screen and (max-width: 300px) {
        width: 200px;
    }
}

.dialog-content {
    @media screen and (max-width: 300px) {
        padding: 8px;
    }
}

.dialog-container {
    position: relative;
    mat-progress-bar {
        z-index: 99;
        position: absolute;
        bottom: 0;
        left: -24px;
        right: -24px;
        width: calc(100% + 48px);
    }
}

mat-option {
    img {
        display: flex;
        align-items: center;
        height: 40px;
    }
}

.selection-container {
    display: flex;
    justify-content: space-around;
    i {
        width: 50%;
    }
    span {
        width: 50%;
    }
}

.circleimg {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
