<mat-drawer-container class="example-container height100vh" autosize>
    <mat-drawer #drawer class="example-sidenav" [opened]="true" mode="side">
        <div class="logo-container">
            <img src="assets/img/favicon.png" alt="">
        </div>
        <div class="link-container">
            <ul>
                <li routerLink="/dashboard">
                    <mat-icon>dashboard</mat-icon>
                    Dashboard
                </li>
                <li routerLink="/user">
                    <mat-icon>account_circle</mat-icon>
                    User
                </li>
                <li>
                    <mat-icon>help</mat-icon>
                    dritter link
                </li>
            </ul>
        </div>
    </mat-drawer>
    <div>
        <mat-toolbar class="toolbar-container" color="primary">
            <!-- <div class="example-sidenav-content"> -->
            <button (click)="drawer.toggle()" class="example-icon cursorPointer">
                  <mat-icon>menu</mat-icon>
            </button>
            <!-- </div> -->
            <span>Simple BusinessApp</span>
        </mat-toolbar>

        <div class="router-container">
            <router-outlet></router-outlet>
        </div>

    </div>

</mat-drawer-container>
