<mat-drawer-container class="example-container height100vh" autosize>
    <mat-drawer #drawer class="example-sidenav" [opened]="true" [mode]="sideMode">
        <div class="logo-container">
            <img class="cursorPointer" routerLink="/" src="assets/img/favicon.png" alt="">
        </div>
        <div class="link-container">
            <ul>
                <li matRipple routerLink="/dashboard">
                    <mat-icon>dashboard</mat-icon>
                    Dashboard
                </li>
                <li matRipple routerLink="/user">
                    <mat-icon>account_circle</mat-icon>
                    User
                </li>
                <li matRipple routerLink="/movies">
                    <mat-icon>movie</mat-icon>
                    Movies
                </li>
            </ul>
        </div>
    </mat-drawer>
    <div class="overHidden">
        <mat-toolbar class="toolbar-container" color="primary">
            <button (click)="drawer.toggle()" class="example-icon cursorPointer">
                  <mat-icon>menu</mat-icon>
            </button>
            <span class="cursorPointer" routerLink="/">Christmas Business</span>
        </mat-toolbar>

        <div class="router-container">
            <router-outlet></router-outlet>
        </div>

    </div>

</mat-drawer-container>