<mat-card class="profil-header">
    <div class="redcolor-container">

        <h2>{{ user.firstName }} {{ user.lastName }}</h2>
        <span>{{ user.email }}</span>

        <div class="santa-img-container">
            <img src="assets/img/santa.png" alt="">
        </div>

        <button mat-icon-button [matMenuTriggerFor]="editMenu" class="menu-button">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #editMenu="matMenu" xPosition="before">
            <button (click)="openEditDialog()" mat-menu-item>Edit user</button>
            <button color="warn" mat-button>Delete user</button>
        </mat-menu>

    </div>

</mat-card>

<mat-card class="magin-t-16 p-relativ">
    <mat-card-title>Address</mat-card-title>
    <mat-card-content>
        {{ user.street }} <br> {{ user.city }} {{ user.postalCode }}
    </mat-card-content>

</mat-card>

<mat-card class="magin-t-16 p-relativ">
    <mat-card-title>Birth date</mat-card-title>
    <mat-card-content>
        22/43/3455
    </mat-card-content>


</mat-card>