<mat-card class="profil-header">
    <div class="redcolor-container">

        <h2>Max Musterman</h2>
        <span>email@googelmail.com</span>

        <div class="santa-img-container">
            <img src="assets/img/santa.png" alt="">
        </div>

    </div>

</mat-card>

<mat-card class="magin-t-16">
    <mat-card-title>Address</mat-card-title>
    <mat-card-content>
        Lange str. 6 <br> Hamburg
    </mat-card-content>
</mat-card>

<mat-card class="magin-t-16">
    <mat-card-title>Birth date</mat-card-title>
    <mat-card-content>
        22/43/3455
    </mat-card-content>
</mat-card>
