<mat-card>
    <h1>Christmas Countdown</h1>

    <div class="overcontainer">
        <div class="under-container">
            <div>
                <h3>Sleeps</h3><span> {{ restSleeps }}</span> </div>
            <div>
                <h3>Hours</h3><span> {{ restHours - (restDays) * 24}}</span> </div>
            <div>
                <h3>Minutes</h3><span> {{ restMinutes - (restHours * 60) }}</span> </div>
            <div>
                <h3>Seconds</h3><span> {{ restSeconds - (restMinutes * 60) }}</span> </div>
        </div>
    </div>
</mat-card>

<mat-card>
    <h2>Christmas Day is on a</h2>
    <div class="overcontainer">
        <p>{{ xWeekDay }}</p>
    </div>
</mat-card>

<mat-card>
    <h2>Christmas time left</h2>
    <div class="overcontainer ">
        <div class="under-container ">
            <div>
                <h3>{{ internationalNumberFormat.format(restSeconds) }}</h3><span class="marginB32">Secounds</span>
                <h3>{{ internationalNumberFormat.format(restMinutes) }}</h3><span>Minutes</span>
            </div>
            <div>
                <h3>{{ internationalNumberFormat.format(restHours) }}</h3><span class="marginB32">Hours</span>
                <h3>{{ restDays }}</h3><span>Days</span>
            </div>
            <div>
                <h3>{{ shortRestWeeks }}</h3><span class="marginB32">Weeks</span>
                <h3>{{ restMonths }}</h3><span>Months</span>
            </div>
        </div>
    </div>
</mat-card>

<mat-card>
    <h2>Time passed until Christmas</h2>
    <mat-progress-bar mode="determinate" value="{{ percentPassX }}"></mat-progress-bar>
    <p class="acenter">{{ percentPassX }}%</p>
</mat-card>

<mat-card>
    <h2>Christmas Jokes</h2>

    <div class="overcontainer">
        <div class="joke-container">
            <p>{{ jokePlusNumber ? jokePlusNumber.question : '' }}</p>
            <p>{{ jokePlusNumber ? jokePlusNumber.answer : '' }}</p>
            <button (click)="nextJoke()" mat-stroked-button>Next</button>
        </div>
    </div>
</mat-card>
