<div *ngIf="!movieDetails" class="centercontainer ">
    <mat-spinner></mat-spinner>
</div>
<!-- movie details -->
<div *ngIf="movieDetails" class="centercontainer ">
    <div class="max1000-container">
        <div class="details-container">

            <h1>{{ movieDetails.Title }}</h1>
            <img src="{{ movieDetails.Poster }}" alt="">

            <h3>Actor</h3>
            <p>{{ movieDetails.Actors }}</p>

            <h3>Director</h3>
            <p>{{ movieDetails.Director }}</p>

            <h3>Genre</h3>
            <p>{{ movieDetails.Genre }}</p>

            <h3>Released</h3>
            <p>{{ movieDetails.Released }}</p>

            <h3>Runtime</h3>
            <p>{{ movieDetails.Runtime }}</p>

            <h3>Awards</h3>
            <p>{{ movieDetails.Awards }}</p>

            <h3>BoxOffice</h3>
            <p>{{ movieDetails.BoxOffice }}</p>

            <h3>imdbRating</h3>
            <p>{{ movieDetails.imdbRating }}</p>

            <h3>Plot</h3>
            <p>{{ movieDetails.Plot }}</p>

        </div>
    </div>
