<div class="centercontainer ">
    <div class="max1000-container">
        <!-- Time until Christmas -->
        <mat-card matRipple class="cursorPointer" routerLink="/">
            <div class="bgGrey acenter">
                <mat-card-title>Time until Christmas</mat-card-title>
                <mat-card-subtitle>sleep only</mat-card-subtitle>
            </div>
            <div class="acenter">
                <mat-card-content>{{ api.restSleeps }}</mat-card-content>
                <mat-card-content>times</mat-card-content>
            </div>
        </mat-card>
        <!-- Christmas Movies -->
        <mat-card matRipple class="cursorPointer" routerLink="/movies">
            <div class="bgGrey acenter">
                <mat-card-title>Christmas Movies</mat-card-title>
                <mat-card-subtitle>already a small selection</mat-card-subtitle>
            </div>
            <div class="acenter">
                <mat-card-content *ngFor="let movies of [0, 1, 2] let i = index ">{{ api.xMovies ? api.xMovies[i].Title : 'loading' }}</mat-card-content>
            </div>
        </mat-card>

    </div>
</div>
