/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.height100vh {
    height: 100vh;
    // background: aqua;
}

.cursorPointer {
    cursor: pointer;
}

.p-relativ {
    position: relative;
}

.magin-t-16 {
    margin-top: 16px;
}

.acenter {
    text-align: center;
}

.bgGrey {
    background-color: #FAFAFA;
    padding-top: 8px;
}

.centercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.max1000-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 1000px;
    width: 100%;
}